/*
  http://paletton.com/#uid=35C0u0krOtThiCDmjvvuqodz1j9

  RED #EC1F24
  WHITE
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

body {
  background-color: #EC1F24;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 80px;
  margin-bottom: 50px;
}

h2 {
  font-size: 40px;
}

.app-title {
  text-transform: uppercase;
  font-weight: 900;
}

.app-title .no-bold {
  font-weight: 300;
}

.title {
  text-align:  center;
}

.fa {
  margin-right: 10px;
}

.logo img {
  border-radius: 60px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid white;
}

@media (min-width: 768px) {
  .logo img {
    border-radius: 80px;
  }
}

a {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

a, a:visited, a:active, a:hover {
  color: white;
}

.app-link {
  text-align: center;
}

.app-link {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .app-link .platform {
    text-align: right;
  }
  .app-link .link {
    text-align: left;
  }
}

.review {
  margin-top: 100px;
}
