<table class='chart-stat-table'>
	<thead>
		<tr>
			<th class='site'></th>
			{{#each headers}}
				<th class={{ this }}>{{ this }}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{{ tbody }}}
	</tbody>
</table>