{% extends 'template.html' %}

{% block title %}
Welcome
{% end %}

{% block content %}
<div class="page-header">
    <h1>Greetings Traveler</h1>
</div>
<p>
This is the landing page for tornadobeat, a web service dedicated to
providing real-time data on Detroit Media Partnership's news sites.
</p>
<a href="/popular">Popular</a> <br />
<a href="/engage">Engaged</a> <br />
<a href="/geopoint">Geo</a> <br />
<a href="/authors">Authors</a> <br />
<a href="/viewers">Viewers</a> <br />
<a href="/active">Active</a> <br />
<a href="/recirculation">Recirculation</a> <br />
<a href="/stats">Stats</a> <br />
<a href="/referral">Referral</a> <br />
{% end %}
