{% extends template.html %}

{% block css %}
<link href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ static_url('bower_components/c3/c3.css') }}" rel="stylesheet">
<link href="{{ static_url('bower_components/epoch/epoch.min.css') }}" rel="stylesheet">
<link href="{{ static_url('css/stats.css') }}" rel="stylesheet">
{% end %}

{% block js %}
{% if table_template %}
<script id="stats-table-template" type="text/x-handlebars-template">{% raw table_template %}</script>
{% end %}
{% if table_row_template %}
<script id="stats-row-template" type="text/x-handlebars-template">{% raw table_row_template %}</script>
{% end %}
<script src="{{ static_url('bower_components/requirejs/require.js') }}" data-main="{{ static_url('js/stats.js') }}"></script>
{% end %}

{% block title %} Usage Stats {% end %}

{% block content %}
<div class="row">
		<div class="col-md-4">
				<h1>Whence Do They Come?</h1><br/>
				<span class="hawt">This is the breakdown of referral sources for all our digital visitors.
				<ul>
					<li>Social = Facebook, Twitter, etc. + Email, apps and IMs</li>
					<li>Direct = Bookmarks and typed URLs, but also everything the analytics can't figure out.</li>
				</ul>
				How can we improve on each of these categories?</span>
				<br/>
		</div>

		<div class="col-md-8">
				<div class='loading'>
					<div class='subtitle'>Loading visitor data...</div>
				</div>
				<div class='pie-chart-container'>
					<div class='chart' id='chart'></div>
				</div>
		</div>
</div>
{% end %}
